<?xml version="1.0" encoding="UTF-8" ?> 
<Module> 
<ModulePrefs title="Menu Gadget" description="Menu gadget for easily formatting menu board items and pricing" author="RevelDigital" background="transparent">
  <Require feature="reveldigital" />
  <Require feature="jquery" />
  <Require feature="webfont" />
  <Require feature="offline" />
  
  <UserPref name="spreadsheetUrl" display_name="Published spreadsheet URL" datatype="string" />
  <UserPref name="template" display_name="Menu template" datatype="enum" default_value="classic-template">
    <EnumValue value="classic-template" display_value="Classic" />
    <EnumValue value="classic-name-only-template" display_value="Classic (Name only)" />
    <EnumValue value="classic-no-dots-template" display_value="Classic (No dots)" />
    <EnumValue value="centered-template" display_value="Centered" />
    <EnumValue value="modern-template" display_value="Modern" />
  </UserPref>
  <UserPref name="name-style" display_name="Item name style" datatype="style" default_value="font-family:Verdana;color:rgb(255, 255, 255);font-size:32px;font-weight:bold;" required="true" />
  <UserPref name="description-style" display_name="Item description style" datatype="style" default_value="font-family:Verdana;color:rgb(255, 255, 255);font-size:22px;" required="true" />
  <UserPref name="price-style" display_name="Item price style" datatype="style" default_value="font-family:Verdana;color:rgb(255, 255, 255);font-size:26px;font-weight:bold;" required="true" />
  <UserPref name="ForeColor" datatype="hidden" default_value="000000" />
  <UserPref name="BackColor" datatype="hidden" />
  <UserPref name="rdW" display_name="Width" required="true" default_value="280" datatype="hidden" />
  <UserPref name="rdH" display_name="Height" required="true" default_value="190" datatype="hidden" />
</ModulePrefs>
<Content type="html">
<![CDATA[

<style type="text/css">
body *
{
  line-height: 1.2em;
  letter-spacing: 0;
  word-spacing: normal;
}

body
{
  background: transparent;
  width: __UP_rdW__px;
  height: __UP_rdH__px;
  overflow: hidden;
}

div#container
{
  width: __UP_rdW__px;
  height: __UP_rdH__px;
  color: #000;
}

table {
  width:100%;
}

table td {
  padding: .1em;
}

table tr.spacer, table tr.spacer td {
  line-height: .2em;
}

td.name {
  __UP_name-style__;
}

td.description {
  __UP_description-style__;
}

td.price, td.price div {
  __UP_price-style__;
}

td.filler {
  width: 100%;
  position: relative;
}

td.filler div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: .3em;
  border-bottom: .1em dotted #__UP_ForeColor__;
}

table.classic-name-only td.name {
  white-space: nowrap;
}

table.classic td.description {
  width: 80%;
}

table.classic td.price {
  vertical-align: bottom;
}

table.classic-no-dots td.price {
  vertical-align: top;
}

table.centered td.name {
  text-align: center;
}

table.centered td.description {
  text-align: center;
}

table.centered td.price {
  text-align: center;
}

table.centered .price-wrapper {
  margin: 0 auto;
}

table.modern .price-wrapper {
  float: right;
}

td.price table td {
  text-align: center;
}

.price-container {
  white-space: nowrap;
  display: table-cell;
  padding-right: 10px;
}

.price-label {
  text-align: center;
}

.price-wrapper {
  display: table;
}

.price-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

</style>

<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<script id="classic-template" type="text/x-handlebars-template">
  <table cellpadding="0" cellspacing="0" class="classic">
  {{#each items}}
    <tr>
      <td colspan="2" class="name">{{name}}</td>
      <td rowspan="2" class="price">
        <div class="price-wrapper">
        {{#each prices}}
          <div class="price-container">
            <div class="price-label">{{label}}</div>
            <div class="price-price">{{price}}</div>
          </div>
        {{/each}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="description">{{description}}</td>
      <td class="filler"><div></div></td>
    </tr>
    <tr class="spacer"><td colspan="3">&nbsp;</td></tr>
  {{/each}}
  </table>
</script>

<script id="classic-name-only-template" type="text/x-handlebars-template">
  <table cellpadding="0" cellspacing="0" class="classic-name-only">
  {{#each items}}
    <tr>
      <td class="name">{{name}}</td>
      <td class="filler"><div></div></td>
      <td class="price">
        <div class="price-wrapper">
        {{#each prices}}
          <div class="price-container">
            <div class="price-label">{{label}}</div>
            <div class="price-price">{{price}}</div>
          </div>
        {{/each}}
        </div>
      </td>
    </tr>
    <tr class="spacer"><td colspan="3">&nbsp;</td></tr>
  {{/each}}
  </table>
</script>

<script id="classic-no-dots-template" type="text/x-handlebars-template">
  <table cellpadding="0" cellspacing="0" class="classic-no-dots">
  {{#each items}}
    <tr>
      <td class="name">{{name}}</td>
      <td rowspan="2" class="price">
        <div class="price-wrapper">
        {{#each prices}}
          <div class="price-container">
            <div class="price-label">{{label}}</div>
            <div class="price-price">{{price}}</div>
          </div>
        {{/each}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="description">{{description}}</td>
    </tr>
    <tr class="spacer"><td>&nbsp;</td></tr>
  {{/each}}
  </table>
</script>

<script id="centered-template" type="text/x-handlebars-template">
  <table cellpadding="0" cellspacing="0" class="centered">
  {{#each items}}
    <tr>
      <td class="name">{{name}}</td>
    </tr>
    <tr>
      <td class="description">{{description}}</td>
    </tr>
    <tr>
      <td class="price">
        <div class="price-wrapper">
        {{#each prices}}
          <div class="price-container">
            <div class="price-label">{{label}}</div>
            <div class="price-price">{{price}}</div>
          </div>
        {{/each}}
        </div>
      </td>
    </tr>
    <tr class="spacer"><td>&nbsp;</td></tr>
  {{/each}}
  </table>
</script>

<script id="modern-template" type="text/x-handlebars-template">
  <table cellpadding="0" cellspacing="0" class="modern">
  {{#each items}}
    <tr>
      <td class="name">{{name}}</td>
    </tr>
    <tr>
      <td class="description">{{description}}</td>
    </tr>
    <tr>
      <td class="price">
        <div class="price-wrapper">
        {{#each prices}}
          <div class="price-container">
            <div class="price-label">{{label}}</div>
            <div class="price-price">{{price}}</div>
          </div>
        {{/each}}
        </div>
      </td>
    </tr>
    <tr class="spacer"><td>&nbsp;</td></tr>
  {{/each}}
  </table>
</script>


<script type="text/javascript">

  var prefs = new gadgets.Prefs();

  var currentTemplate = Handlebars.compile(document.getElementById(prefs.getString('template')).innerHTML);
  
  function load() {
  
    WebFont.load({
      google: {
        families: [
          gadgets.reveldigital.getFamilyName(prefs.getString("name-style"))
        ]
      }
    });
    WebFont.load({
      google: {
        families: [
          gadgets.reveldigital.getFamilyName(prefs.getString("description-style"))
        ]
      }
    });
    WebFont.load({
      google: {
        families: [
          gadgets.reveldigital.getFamilyName(prefs.getString("price-style"))
        ]
      }
    });
    
    google.load('visualization', '1', {'packages': ['table']});
    google.setOnLoadCallback(initialize);
  }

  function initialize() {
    var query = new google.visualization.Query(googleUrl(prefs.getString("spreadsheetUrl")));
    query.setRefreshInterval(300);
    query.send(draw);
  }
  
  function draw(response) {
    if (response.isError()) {
      return;
    }
    var dt = response.getDataTable();

    var items = [];
    for (var i=0; i<dt.getNumberOfRows(); i++) {
      var prices = [];
      for (var j=2; j<dt.getNumberOfColumns(); j++) {
        prices.push({ label: dt.getColumnLabel(j), price: dt.getFormattedValue(i, j) });
      }
      items.push({ name: dt.getFormattedValue(i,0), description: dt.getFormattedValue(i, 1), prices: prices });
    }

    $('#container').empty().append(currentTemplate({ items: items }));
  }

  function googleUrl(sourceIdentifier) {

    console.log("Spreadsheet: " + sourceIdentifier);

    var url, key;
    if (sourceIdentifier.match(/http(s)*:/)) {
      url = sourceIdentifier;
      try {
        key = url.match(/spreadsheets\/d\/(?:e\/)*(.*?)\//)[1];
      } catch (error) {
      }
    } else {
      key = sourceIdentifier;
    }
    var ret = "https://docs.google.com/spreadsheets/d/" + key + "/gviz/tq?ph=0"; // ph = placeholder

    if (prefs.getString("sheet") != null) {
      ret = ret + "&sheet=" + encodeURIComponent(prefs.getString("sheet"));
    }
    return ret;
  }
  
  gadgets.util.registerOnLoadHandler(load);
  
</script>

]]>
</Content>
</Module>