<?xml version="1.0" encoding="UTF-8" ?> 
<Module> 
<ModulePrefs title="Menu Gadget" description="Menu gadget for easily formatting menu board items and pricing" author="RevelDigital" background="transparent">
  <Require feature="reveldigital" />
  <Require feature="jquery" />
  <Require feature="webfont" />
  <Require feature="offline" />
  
  <UserPref name="format" display_name="Format" datatype="enum" default_value="">
    <EnumValue value="hh:mm a" display_value="8:30 pm" />
    <EnumValue value="LT" display_value="8:30 PM" />
    <EnumValue value="LTS" display_value="8:30:25 PM" />
    <EnumValue value="L" display_value="06/09/2014" />
    <EnumValue value="l" display_value="6/9/2014" />
    <EnumValue value="LL" display_value="June 9 2014" />
    <EnumValue value="ll" display_value="Jun 9 2014" />
    <EnumValue value="LLL" display_value="June 9 2014 9:32 PM" />
    <EnumValue value="lll" display_value="Jun 9 2014 9:32 PM" />
    <EnumValue value="LLLL" display_value="Monday, June 9 2014 9:32 PM" />
    <EnumValue value="llll" display_value="Mon, Jun 9 2014 9:32 PM" />
  </UserPref>
  <UserPref name="custom" display_name="Custom Format" datatype="string" />
  <UserPref name="font-style" display_name="Font Style" datatype="style" default_value="font-family:Verdana;color:rgb(255, 255, 255);font-size:24px;text-align:left;" required="true" />
  <UserPref name="ForeColor" datatype="hidden" />
  <UserPref name="BackColor" datatype="hidden" />
  <UserPref name="rdW" display_name="Width" required="true" default_value="280" datatype="hidden" />
  <UserPref name="rdH" display_name="Height" required="true" default_value="190" datatype="hidden" />
</ModulePrefs>
<Content type="html">
<![CDATA[

<style type="text/css">
body *
{
  line-height: 1.2em; 
  letter-spacing: 0; 
  word-spacing: normal;
}

body
{
  background: transparent;
  width: __UP_rdW__px;
  height: __UP_rdH__px;
  overflow: hidden;
}

div#container
{
  __UP_font-style__;
  width: __UP_rdW__px;
  height: __UP_rdH__px;
}
</style>

<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>


<script id="classic-template" type="text/x-handlebars-template">
  <table class="classic">
  {{#each items}}
    <tr>
      <td colspan="2">{{name}}</td>
    </tr>
    <tr>
      <td>{{description}}</td><td>{{price}}</td>
    </tr>
  {{/each}}
  </table>
</script>


<script type="text/javascript">

  var prefs = new gadgets.Prefs();

  var data = [
    { name: 'test', description: 'description', price: 4.34 }
  ];
  
  function load() {
  
    WebFont.load({
      google: {
        families: [
          gadgets.reveldigital.getFamilyName(prefs.getString("font-style"))
        ]
      }
    });
    
    var currentTemplate = Handlebars.compile(document.getElementById("classic-template").innerHTML);

    $('#container').append(currentTemplate(data));
  }

  gadgets.util.registerOnLoadHandler(load);
  
</script>

]]>
</Content>
</Module>