#eventsContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
#eventsContainer ul {
    list-style-type: none;
    margin: 0;
}
#eventsContainer #scroller {
    padding: 0 20px;
}
#eventsContainer .day {
    padding-top: 10px;
}
#eventsContainer .events {
    padding: 10px 20px 0px 20px;
    border-bottom: 1px solid gray;
}
#eventsContainer .scrollContainer {
    position: absolute;
    margin: 0px;
    left: 0;
    bottom: 0;
    right: 0;
}
#eventsContainer .scrollContainer .customScrollBox {
    position: relative;
    height: 100%;
    overflow: hidden;
}
#eventsContainer .scrollContainer .customScrollBox .container {
    position: relative;
    width: 95%;
    top: 0;
    float: left;    
}
#eventsContainer .scrollContainer .customScrollBox .content {
    clear: both;
}
#eventsContainer .scrollContainer .dragger_wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
}
#eventsContainer .scrollContainer .dragger_container {	/* Scrollbar line */
    position: relative;
    float: left;
    border-left: 1px solid;
    cursor: pointer;
    width: 0px;
}
#eventsContainer .scrollContainer .dragger {	/* Scroll handle */
    position: absolute; 
    overflow: hidden; 
    cursor: pointer; 
}
#eventsContainer .scrollContainer .dragger_pressed {
    cursor: s-resize;
}